{% extends '../base/base.html' %}

{% block content %}

<div class="row">
    <!-- left-sidebar  -->
     {% include './left-sidebar.html' %}

    <!-- right-sidebar  -->
     {% load crispy_forms_tags %}
    <div class="col-md-9">
      <h3>Add New User</h3>

      <form action="{% url 'add_user' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}

            {{form | crispy}}

        <button type="submit" class="btn btn-warning">Submit</button>
      </form>

    </div>
</div>

{% endblock %}